<!DOCTYPE html>
<html>
<head>
  <title>Employee Table</title>
  <!-- Ваши стили и другие мета-теги -->
  <style>
    .indent {
      margin-left: 20px;  /* Отступ для подчиненных элементов */
    }
  </style>
</head>
<body>
  <h1>Employee Table</h1>

  <table id="employee-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Hire Date</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>
            {% if employee.get_level > 0 %}
              <span class="indent"></span>
            {% endif %}
            {{ employee.full_name }}
          </td>
          <td>{{ employee.position.position_name }}</td>
          <td>{{ employee.hire_date }}</td>
          <td>{{ employee.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <!-- Вставьте ваш код JavaScript здесь -->
  <script>
    $(document).ready(function() {
      // Инициализация плагина DataTables
      $('#employee-table').DataTable();
    });
  </script>
</body>
</html>